/* Clock.css */

.clock-container {
    text-align: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
    border-radius: 8px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* #currentTime {
    font-size: 48px;
    font-weight: bold;
} */
